@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-font: 'Merriweather', serif;
    --secondary-font: 'Inter', sans-serif;
    --red-color: #F00;
    --white-color: #FFF;
    --black-color: #070211;
    --text-color: rgba(7, 2, 17, 0.60);
    --hr-line: rgba(255, 255, 255, 0.15);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

h1{
    font-size: 88px;
}

h2{
    font-size: 72px;
}

h3{
    font-size: 64px;
}

h4{
    font-size: 48px;
}

h5{
    font-size: 32px;
}

h6{
    font-size: 24px;
}

/* Banner section start */
.banner-section{

}
.banner-section .banner-box{
    height: 600px;
    border-radius: 16px;
    background-image: url(../assets/resources/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 120px;
}

.banner-box .banner-title{
    height: 600px;
    text-align: center;
    border-radius: 16px;
    background: url(../assets/resources/Rectangle15.png);
}

.banner-box .banner-title p{
    color: var(--white-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-box .banner-title h2{
    width: 632px;
    margin: 0 auto;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-weight: 900;
    padding-top: 16px;
}

/* Discount section start */
.discount-section{

}
.discount-box{
    text-align: center;
}

.discount-box .discount-title h1{
    color: var(--red-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.discount-box .discount-title p{
    color: var(--red-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 16px;
}

.discount-box .discount-title h4{
    color: var(--black-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* party section start */
.party-section{

}
.party-section .party-box{
    height: 600px;
    background-image: url(../assets/resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
}

.party-box .party-box-content{
    height: 600px;
    background-image: url(../assets/resources/gredient-Vector.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
}

.party-box .party-box-content h3{
    width: 642px;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party-box .party-box-content p{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 48px;
}

.party-box .party-box-content .party-btn{
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 32px;
    transition: 0.3s;
}

.party-box .party-box-content .party-btn:hover{
    color: blue;
    cursor: pointer;
}

/* Address section start */
.address-section{

}
.address-section .address-box{
    height: 340px;
    background-image: url(../assets/resources/address-Vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    padding: 100px 386px 0px 385px;
}

.address-box .address-title{
    margin-bottom: 40px;
}

.address-box p{
    color: var(--black-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.address-box p span{
    color: var(--red-color);
}

.add-btn .btn-menu{
    color: var(--white-color);
    padding: 16px 32px;
    border-radius: 8px;
    background: var(--red-color);
    font-size: 20px;
    font-weight: 700;
    border: 0;
    margin-left: 185px;
    
}
.add-btn .btn-menu:hover{
    cursor: pointer;
}

/* cooming soon section start */

.cooming-soon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.cooming-soon-left span{
    color: var(--red-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
}

.cooming-soon-box .cooming-soon-left h4{
    color: var(--black-color);
    font-family: var(--primary-font);
    font-weight: 900;
    margin-top: 16px;
}

.cooming-soon-box .cooming-soon-left p{
    width: 393px;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 22px;
}

.cooming-soon-box .cooming-soon-middle{
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid var(--red-color);
    position: relative;
    margin-left: 70px;
    margin-right: 118px;
}

.cooming-soon-box .cooming-soon-middle .image-box{
    position: absolute;
    width: 367px;
    height: 367px;
    border-radius: 367px;
    top: 50px;
    left: 50px;
}

.cooming-soon-box .cooming-soon-right h4{
    color: var(--red-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-bottom: 16px;
}

.cooming-soon-box .cooming-soon-right p{
    width: 276px;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 43px;
}

/* Sale section start */
.sale-section{

}

.sale-section .sale-section-box{
    margin-top: 120px;
}

.sale-section .sale-section-box .sale-box-top{
    text-align: center;
}

.sale-section-box .sale-box-top .sale-title{
    color: var(--black-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
}

.sale-section-box .sale-box-top h2{
    color: var(--black-color);
    font-family: var(--primary-font);
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 28px;
}

.sale-section-box .sale-box-top h2 > span{
    color: var(--red-color);
}

.sale-section-box .sale-box-top p{
    width: 1068px;
    margin: 0 auto;
    color: var(--text-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}

.sale-box-bottom .sale-box-image{
    position: relative;
}

.sale-box-bottom .sale-image-top img{
    position: absolute;
    bottom: 228px;
    right: 0;
}
.sale-box-bottom .sale-image-top .div-svg{
    position: absolute;
    right: 274px;
    top: 177px;
}
.sale-box-bottom .sale-image-bottom{
    height: 229px;
    margin-top: 497px;
    border-radius: 16px 0px 16px 16px;
    background: var(--red-color);
}

.sale-box-bottom .sale-image-bottom img{
    position: absolute;
    bottom: 4px;
}

/* gift section start */
.gift-section{

}
.gift-section .gift-section-box{
    margin-top: 120px;
}
.gift-section-title span{
    color: var(--red-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
}
.gift-section-title h4{
    color: var(--black-color);
    font-family: var(--primary-font);
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.gift-section-title p{
    width: 896px;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-bottom: 48px;
}

.gift-section-img{
    
}

.gift-section-img .fast-3-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.gift-section-img .fast-3-image .gift-image-list:hover{
    box-shadow: 10px 5px 20px rgba(152, 152, 152, 0.2);;
    border-radius: 16px;
}

.gift-section-img .last-3-image .gift-image-list:hover{
    box-shadow: 10px 5px 20px rgba(152, 152, 152, 0.2);;
    border-radius: 16px;
}

.gift-section-img .last-3-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: 0.3s;
    margin-bottom: 120px;
}

/* subscribe section start */
.subscribe-section{

}

.subscribe-section .subscribe-box{
    height: 616px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 120px;
}

.subscribe-box .subscribe-box-image img{
    margin-top: 80px;
    margin-bottom: 20px;
}

.subscribe-box h4{
    color: var(--black-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.subscribe-box p{
    width: 896px;
    margin: 0 auto;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.subscribe-box .subscribe-input .subscribe-mail{
    width: 648px;
    height: 72px;
    font-family: var(--secondary-font);
    border-radius: 50px;
    background: var(--white-color);
    color: var(--text-color);
    padding-left: 30px;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.subscribe-box .subscribe-input .subscribe-mail::placeholder{
    color: rgba(7, 2, 17, 0.30);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    /* padding: 25px 477px 25px 30px; */
}

.subscribe-box .subscribe-input .subscribe-btn{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: var(--red-color);
    border: none;
}

.subscribe-input{
    position: relative;
}

.subscribe-box .subscribe-input input[value="Subscribe"]{
    color: var(--white-color);
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 319px;
    cursor: pointer;
}

/* Footer section start */
.footer-section{
    height: 609px;
    background: #070211;
}

.footer-top-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 559px;
}

.footer-top-box .footer-address{
    padding-top: 120px;
}

.footer-top-box .footer-address p{
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
}

.footer-contact{
    padding-top: 120px;
}

.footer-contact .footer-no{
    display: flex;
    align-items: center;
}

.footer-contact .footer-no .footer-svg{
    text-align: center;
}

.footer-contact .footer-no p a{
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
    text-decoration: none;
    margin-left: 16px;
}

.footer-contact .footer-web{
    display: flex;
    align-items: center;
}

.footer-contact .footer-web .footer-svg2{
    text-align: center;
}

.footer-contact .footer-web p a{
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
    text-decoration: none;
    margin-left: 16px;
}

.hr-line{
    border: 1px solid var(--hr-line);
    margin-top: 50px;
    margin-bottom: 50px;
}

.hr-line2{
    border: 1px solid var(--hr-line);
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-middle-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom .footer-right-side p{
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
}

.footer-bottom .footer-left-side p a{
    color: var(--white-color);
    font-family: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.footer-bottom .footer-left-side p a:hover{
    color: var(--red-color);
    cursor: pointer;
}